# Ignorera miljövariabler
server/.env

# Ignorera beroenden
node_modules/
server/node_modules/
frontend/node_modules/

# Byggfiler
frontend/build/
server/dist/

# Loggfiler
npm-debug.log*
yarn-debug.log*
yarn-error.log*
